[submodule "c/libheif"]
	path = c/libheif
	url = https://github.com/strukturag/libheif
[submodule "c/libde265"]
	path = c/libde265
	url = https://github.com/strukturag/libde265
[submodule "tests/heif_conformance"]
	path = tests/heif_conformance
	url = https://github.com/nokiatech/heif_conformance
